#rock{
    width: 80px;
    height: 80px;
    margin: 1rem;
}

#paper{
    width: 80px;
    height: 80px;
    margin: 1rem;
}

#scissors{
    width: 80px;
    height: 80px;
    margin: 1rem;
}

.labels{
    font-family: Rubik Distressed;
    margin: 1rem;
}

#quoteLine,
#winOrLoss{
    font-family: Lacquer;
}


#results{
    background-color: white;
}